.mdl-layout__header--main {
    background-color: $red;
}

.mdl-layout__header--sub {
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: rgba(0,0,0,.06);*/
    background-color: lighten($blue, 10%);
}