$grey: #666;

$grey--light: #edebeb;

$grey--spun: #4d4d4d;

$yellow: #ebb129;

$green: #97c57f;
$green--dark: darken(#97c57f, 20%);

$black: #30373b;
$black: #111111;

$brown: #3b3838;

$pink: #d86c86;

$white: #FFF;
$white--off: #f9f9f9;

/**
 * Borders
 */

$border-grey: $grey;
$border-grey--light: $grey--light;