blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: $grey;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.36em;
        vertical-align: -0.4em;
        @include rem($base-px--xl);
        font-family: $main-font;
    }

    p {
        display: inline;
        position: relative;
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
}