.side-decor {
    width: 220vh;
    height: 220vh;
    position: absolute;
    left: 70%;
    top: 2%;
    margin-top: -110vh;
    background-image: url("../images/pink-circle.svg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}